/* 全ページ共通 */

*{
    margin: 0px;
    padding:0px;
}

body,html{
    height:100%;
}

.body-wrapper{
    background-color: #fa8072;
    height:100%;
}

.header-wrapper{
    position: fixed;
    background-color: transparent;
    z-index: 10;
    width:100%;
    
}

.header{
    display: flex;
    height:80px;
    width:90%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-menu-wrapper{
    width:100%;
    background-color: rgba(128, 128, 128, 0.7);
    position: fixed;
    z-index: 50;
    height:100px;
    top:-100px;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    width:40%;
    margin:0 auto;
    padding:25px 0 20px 0;
}

.header-menu a{
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
}

.menu-close-btn{
    width:fit-content;
    margin:0 auto;
    color:#ffffff;
    padding-top:5px;
    border:1px solid #ffffff;
    padding:0 10px;
    font-size:10px;
    cursor: pointer;
}

.menu-close-btn i{
    padding-right:0.5em;
}


.logo-wrapper{
    width:fit-content;
}

.logo{
    width:150px;
}

.logo span{
    color:#ffffff;
    font-size:40px;
}

.burger-menu-wrapper{
    width:fit-content;
}
.burger-menu{
    width:40px;
    height:40px;
    border: 2px solid #ffffff;
    border-radius:50%;
    background-color: rgba(128, 128, 128, 0.8);
    position: relative;
    cursor: pointer;
}

span.burger1,
span.burger2,
span.burger3{
    height:2px;
    width:25px;
    background-color:#ffffff;
    position: absolute;
}

span.burger1{
    left:7px;
    top:11px;
}

span.burger2{
    left:7px;
    top:19px;
}

span.burger3{
    left:7px;
    top:27px;
}


footer {
    height: 88px;
    width: 100%;
    text-align: center;
}

footer .footer_up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: #994f46;
}

footer .footer_up a {
    text-decoration: none;
    margin: 0 20px;
    color:#ffffff;
}

footer .footer_bottom {
    height: 24px;
    background-color: #000000;
    color: #ffffff;
}


/* トップページ */


.top-page{
    width:100%;
    margin:0 auto;
    padding-top:100px;
    display: flex;
    /* background:linear-gradient(22deg, #fa8072 0%, #fa8072 50%, #cc675c 50%, #cc675c 100%); */
}

.catch-copy{
    margin-top:100px;
    text-align: center;
    width:fit-content;
    width:50%;
}

.catch-copy h1,
.catch-copy p{
    color:#ffffff;
}

.catch-copy p{
    padding-bottom:15px;
}

.top-images{
    width:50%;
    height:500px;
    position: relative;
}

.top-image1,
.top-image2,
.top-image3{
    overflow: hidden;

}

.top-image1 img{
    width:320px;
    height:320px;
    border-radius: 50%;
    position: absolute;
    left:220px;
    border:1px double #ffffff;
    padding:5px;
}

.top-image2 img{
    width:250px;
    height:250px; 
    border-radius: 50%;
    position: absolute;
    left:-20px;
    top:180px;
    border:1px double #ffffff;
    padding:5px;
}

.company-mission-wrapper{
    background-color: #fa8072;
}

#missions{
    margin-top:100px;
}

.company-mission{
    width:70%;
    margin:0 auto;
    display: flex;
    height:800px;
    padding-bottom:150px;
    justify-content: space-between;
}

.company-mission img{
    width:100px;
    height:100px;
}

.mission1,
.mission2,
.mission3{
    width:380px;
    height:430px;
    background-color:#f5f5f5;
    margin-right:30px;
    box-shadow: -10px 10px #cc675c;
    padding-top:20px;
}

.mission3{
    margin-right:0px;
}

.mission1 h2,
.mission1 p,
.mission2 h2,
.mission2 p,
.mission3 h2,
.mission3 p{
    text-align: center;
    color:#fa8072;
}

.mission1 h2,
.mission2 h2,
.mission3 h2{
    margin:20px 0px;
}

.mission1 p,
.mission2 p,
.mission3 p{
    padding-bottom:50px;
}

.mission-icon1,
.mission-icon2,
.mission-icon3{
    text-align:center;
    margin:0 auto;
    border:3px solid #fa8072;
    padding:20px;
    border-radius: 50%;
    width:fit-content;
}

.company-intro-wrapper{
    width:100%;
    background-color: #fa8072;
}

.intro-contents{
    display: flex;
    position: relative;
    height:400px;
    margin:0 auto;
    width:70%;
}


.intro-image1 img{
    width:300px;
    border: 8px solid #fffaf0;
    z-index:0
}

.intro-image2 img{
    width:400px;
    border: 8px solid #fffaf0;
    z-index:10;
    position:absolute;
    left:270px;
    top:-250px;
}

.intro-block{
    width:350px;
    height:380px;
    background-color: #f5f5f5;
    position:absolute;
    left:650px;
    top:-150px;
    z-index:15;
    box-shadow: 10px 10px #cc675c;
    padding:40px 10px 10px 20px;
}

.intro-block h2,
.intro-block p{
    text-align: center;
    color:#fa8072;
}

.intro-block h2{
padding-bottom:15px;
}

.intro-block p{
    padding-bottom: 50px;
}


.read-more-btn{
    margin: 0 auto;
    width:fit-content;
}

.read-more-btn a{
    color:#fa8072;
    padding:10px 20px;
    border: 2px solid #fa8072;
    text-decoration: none;
}

/* .inquiry-form-wrapper{
    width:100%;
    background-color:#fa8072;
    height:300px;
    padding-bottom: 300px;
}

.inquiry-form-block{
    width:40%;
    height:400px;
    background-color:#f5f5f5;
    margin:0 auto;
    box-shadow: -10px 10px #cc675c;
}

.inquiry-form-block h2{
    color:#fa8072;
    padding:30px 0 40px 0;
}

.contact-forms{
    width:50%;
    margin:0 auto;
    text-align:center;
}

.name-form{
    display: flex;
    justify-content: center;
    margin-bottom:10px;
}

input.last-name{
    margin-right:10px;
}

.email-form{
    margin-bottom:20px;
}

.email-form input,
.name-form input{
    width:100%;
    border:1px solid #fa8072;
}

.inquiry-form textarea{
    width:100%;
    height:150px;
    margin-bottom:10px;
    border:1px solid #fa8072;
}

.submit-btn{
    width:150px;
    margin:0 auto;
}

.submit-btn input{
    padding:10px 40px;
    background-color:#fa8072;
    color:#ffffff;
    border:none;
    cursor: pointer;
} */

.business-list-wrappper{
    width:100%;
    height:800px;
    background-color:#cc675c;
    z-index: -3;
}


.business-list-wrappper h2{
    color:#ffffff;
    font-size:28px;
    text-align: center;
    padding:50px 0px;
}

.business-blocks{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin:0 auto;
    z-index: -2;
}

.business-block1,
.business-block2,
.business-block3{
    width:30%;
    height:580px;
    background-color: #f5f5f5;
    padding:15px 10px;
    text-align: center;
    box-shadow: 10px 10px #994f46;
    position: relative;
}

.business-block1 h3,
.business-block2 h3,
.business-block3 h3{
    position: absolute;
    top:20px;
    left:-15px;
    width:400px;
    height:40px;
    background-color:#fa8072;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    font-size:20px;
    line-height:40px;
    font-weight:200;
    color:#ffffff;
}

.business-block1 h3::before,
.business-block2 h3::before,
.business-block3 h3::before{
    content:"";
    position: absolute;
    width:15px;
    height:30px;
    left:0px;
    top:40px;
    background-color:#994f46;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index:2;
}

.business-block1 h3::after,
.business-block2 h3::after,
.business-block3 h3::after{
    content:"";
    position: absolute;
    width:15px;
    height:15px;
    left:0px;
    top:40px;
    background-color:#fa8072;
}

.business-block1 img,
.business-block2 img,
.business-block3 img{
width:80%;
height:250px;
margin:80px 0px 20px 0px;
}

.business-overview{
    width:75%;
    padding:10px;
    margin:0 auto;
    border: 2px solid #fa8072;
    margin-bottom:30px;
}

.business-overview p{
    color:#fa8072;
}


.business-block1 a,
.business-block2 a,
.business-block3 a{
    color:#fa8072;
    padding:15px 40px;
    text-decoration: none;
    border:2px solid #fa8072;
    position:relative;
    overflow: hidden;
    transition:all 1s;
    width:50%;
    display: block;
    z-index: 1;
    margin:0 auto;
}

.business-block1 a::before,
.business-block2 a::before,
.business-block3 a::before{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background-color: #fa8072;
    z-index:-1;
    transform: translateX(-100%);
    transition:all 0.5s;

}

.business-block1 a:hover:before,
.business-block2 a:hover:before,
.business-block3 a:hover:before{
    transform:translateX(0);
}

.business-block1 a:hover,
.business-block2 a:hover,
.business-block3 a:hover{
    color:#ffffff;
}

.business-list-wrappper svg{
    background-color: #fa8072;
    margin-top:40px;
}

.sns-wrapper{
    width:100%;
    background-color: #fa8072;
    padding-bottom: 150px;
    padding-top:300px;
}

.sns-block{
    width:40%;
    height:550px;
    margin:0 auto;
    box-shadow: -10px 10px #cc675c;
    background-color:#f5f5f5;
    transition:all 0.5s;
}

.sns-icons1 i,
.sns-icons2 i{
    padding:13px;
    border:2px #cc675c solid;
    width:100px;
    height:100px;
    color:#fa8072;
    border-radius:10%;
    text-align: center;
    line-height: 100px;
    box-shadow:0 25px 35px rgba(0,0,0,0.1);
    transition:all 0.3s;
}


.twitter-icon,
.insta-icon,
.facebook-icon,
.youtube-icon{
    position:relative;
}

.twitter-icon::before{
    content:attr(data-text);
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:5vw;
    pointer-events:none;
    font-weight:700;
    transition:0.5s;
    opacity:0;
}

.insta-icon::before{
    content:attr(data-text);
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:5vw;
    pointer-events:none;
    font-weight:700;
    transition:0.5s;
    opacity:0;
}

.facebook-icon::before{
    content:attr(data-text);
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:5vw;
    pointer-events:none;
    font-weight:700;
    transition:0.5s;
    opacity:0;
}

.youtube-icon::before{
    content:attr(data-text);
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:5vw;
    pointer-events:none;
    font-weight:700;
    transition:0.5s;
    opacity:0;
}

.twitter-icon:hover::before{
    opacity:0.1;
    transform:translate(-10%,calc(-50% + 280px));
}

.insta-icon:hover::before{
    opacity:0.1;
    transform:translate(-70%,calc(-50% + 270px));
}

.facebook-icon:hover::before{
    opacity:0.1;
    transform:translate(-20%,calc(-50% + 100px));
}

.youtube-icon:hover::before{
    opacity:0.1;
    transform:translate(-75%,calc(-50% + 100px));
}

.twitter-icon i:hover{
    background:#1DA2F1;
    color:#ffffff;
    border:none;
    border-radius:10%;
}

.insta-icon i:hover{
    background:linear-gradient(to bottom,#c71585 30%,#ff1493,#ff6347 80%,#ff4500);
    color:#ffffff;
    border:none;
    border-radius:10%;
}

.facebook-icon i:hover{
    background:#4063AD;
    color:#ffffff;
    border:none;
    border-radius:10%;
}

.youtube-icon i:hover{
    background:#ff0000;
    color:#ffffff;
    border:none;
    border-radius:10%;
}

.sns-block h2{
    color:#fa8072;
    padding:30px 0 20px 0;
    text-align: center;
    font-size: 35px;
}

.sns-icons1,
.sns-icons2{
    display:flex;
    margin:0 auto;
    width:55%;
    text-align: center;
    justify-content: space-between;
    padding-bottom:50px;
}

.sns-block img{
    width:60%;
}

/* 事業紹介ページ*/


.business-intro-wrapper{
    height:1200px;
    text-align:center;
    background-color:#fa8072;
    padding-top:130px;

}

.business-intro-block{
    width:60%;
    height:800px;
    margin:0 auto;
    box-shadow: 15px 15px #cc675c;
    background-color:#f5f5f5;
    padding:15px 20px;
}
.business-intro-wrapper h1{
    color:#fa8072;
    padding-bottom:30px;
}

.slide-area{
    width:85%;
    margin:0 auto;
}

.slide-show li{
    list-style: none;
}

.slide-show img{
    width:100%;
    border-radius:10px;
    
}

/* 会社概要ページ */

.company-slogan-wrapper{
    height:550px;
    width:100%;
    position: relative;
}

.company-slogan-wrapper span{
    position: absolute;
    z-index:8;
    font-size: 50px;
    color:#ffffff;
    font-weight:300;
    top:230px;
    left:100px;
    font-family: 'M PLUS 1p', sans-serif;
}

.company-slogan-wrapper img{
    height:550px;
    width:100%;
    position:absolute;
    z-index:2;
}
.image-layer{
    position: absolute;
    z-index: 3;
    background-color: #000000;
    opacity:0.8;
    width:100%;
    height:550px;

}
.company-overview-wrapper{
    height:1200px;
    text-align:center;
    background-color:#fa8072;
    padding-top:100px;
    width:100%;
}

.company-overview-block{
    width:70%;
    height:1000px;
    margin:0 auto;
    background-color:#f5f5f5;
    box-shadow: -10px 10px #cc675c;
    padding:0px 40px;
}

.ceo-message-heading{
    padding:25px 0px;
    width:70%;
    margin:0 auto;
}

.ceo-message-heading h1::before{
    content:"";
    height:1px;
    background-color:#fa8072;
    flex-grow: 1;
    margin-right:20px;

}

.ceo-message-heading h1::after{
    content:"";
    height:1px;
    background-color:#fa8072;
    flex-grow: 1;
    margin-left:20px;
}

.ceo-message-heading h1{
    text-align: center;
    color:#fa8072;
    font-weight:400;
    display: flex;
    align-items: center;
}

.ceo-message-section{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.ceo-photo{
    width:45%;
}

.ceo-photo img{
    width:100%;
    border-radius: 10px;
}

.ceo-message{
    width:45%;
    border:1px solid #fa8072;
    padding:35px 20px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    position:relative;
    border-radius: 10px;
}


.ceo-message p{
    line-height: 2em;
}

.company-info-heading{
    padding:50px 0px 20px 0px;
    width:fit-content;
    margin:0 auto;
}
.company-info-heading h2{
    text-align: center;
    color:#fa8072;
    font-weight:400;
}

.company-info-data{
    width:50%;
    margin:0 auto;
}


.company-info-data table{
    border:2px solid #fa8072 ;
    width:100%;
}

.company-info-data td,
.company-info-data th{
    border:1px solid #fa8072; 
    height:50px;
    padding:0px 20px;
}

.company-info-data th{
    font-weight:normal;
    color:#ffffff;
}

.company-info-data td{
    text-align:left;
}

.company-info-data th{
    background-color:#fa8072;
}

.company-info-data li{
    list-style: none;
}
